<div class="px-5">
    <div class="row gx-5 justify-content-center">
        <div class="text-center my-5">
            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span>
            </h2>
            <p class="lead fw-light mb-4">My name is Nicholas Fierro and I build smart web
                applications.</p>
            <p class="text-muted">As a recent Computer Science graduate of Penn State, I have
                accumulated
                substantial practical experience through software development roles at various
                organizations. My
                problem-solving ability, keen attention to
                detail, and excellent communication skills empower me to excel in team-based
                settings and
                deliver high-quality solutions. Continually proactive, I take pride
                in surpassing expectations and always seek avenues for improvement.</p>
        </div>
    </div>
</div>