<!-- Experience Card 1-->
<div class="card shadow border-0 rounded-4 mb-5" *ngFor="let workExperience of workExperiences">
    <div class="card-body p-5">
        <div class="col justify-content-end gx-5">
            <div class="row text-center text-lg-start mb-4 mb-lg-0">
                <div class="bg-light p-4 rounded-4">
                    <div class="text-primary fw-bolder mb-2">{{ workExperience.start }} - {{
                        workExperience.end }}</div>
                    <div class="small fw-bolder">{{ workExperience.title }}</div>
                    <div class="small text-muted">{{ workExperience.company }}</div>
                    <div class="small text-muted">{{ workExperience.location }}</div>
                </div>
            </div>
            <div class="row py-1">
                <div>{{ workExperience.description }}</div>
            </div>
        </div>
    </div>
</div>